.top-banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 22px;
  min-height: 60px;
  height: var(--top-banner-height-in-view);
}
.top-banner-container .content-container {
  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .top-banner-container .content-container {
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.top-banner-container .content-container > * {
  display: inline;
}
.top-banner-container .top-banner-image {
  max-height: 30px;
  margin-right: 14px;
  vertical-align: text-bottom;
}
.top-banner-container .top-banner-main-content {
  font-style: italic;
}
.top-banner-container pre {
  margin: 0;
}
.top-banner-container .close-button-wrapper {
  position: absolute;
  top: 9px;
  right: 0;
}
@media only screen and (min-width: 700px) {
  .top-banner-container .close-button-wrapper {
    top: 15px;
    right: 15px;
  }
}
.top-banner-container .cancel > svg > path {
  fill: var(--top-banner-text-color);
}
@media only screen and (max-width: 700px) {
  .top-banner-container .cancel {
    width: 44px;
    height: 44px;
  }
  .top-banner-container .cancel:hover {
    background: initial;
  }
  .top-banner-container .cancel:active {
    background: initial;
  }
}
@media only screen and (min-width: 700px) {
  .top-banner-container .cancel:hover {
    background: var(--close-btn-hover-background);
  }
  .top-banner-container .cancel:active {
    background: var(--close-btn-active-background);
  }
}
